body {
    background-image: url('/mis_avances_protalento/pokeApi/img/fondopoke.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .pokemon-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .pokemon-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
    text-align: center;
  }
  
  .pokemon-image {
    display: block;
    margin: 20px auto;
    max-width: 200px;
    height: auto;
  }

  .pokemon-image.selected {
    width: 300px;
    max-width: 100%;
  }

  .pokemon-height,
  .pokemon-weight,
  .pokemon-abilities {
    color: #555;
    margin: 0;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  #pokemon-id {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .search-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover {
    background-color: #555;
  }
  .pokemon-name-style {
    font-size: 40px;
    font-weight: bold;
    color: #333;
  }
  
  .pokemon-height-style {
    color: blue;
    font-style: italic;
    font-size: 24px;
  }
  
  .pokemon-weight-style {
    color: green;
    font-size: 24px;
  }
  
  .pokemon-abilities-style {
    color: purple;
    font-size: 24px;
  }
  